
.hidden {
    display: none;
}

body {
    background-color: #f9fbf8;
}

.category-header {
  
    display: inline-block;
     width: 80%; /* от ширины категории */
    max-width: 250px;
    padding: 12px 8px;
    background-color: #e8f0e6;
    margin: 4px;
    border-radius: 8px;
   cursor: pointer; 
   transition: all 0.3s ease;
}

.category-header:hover {
    background-color: #d0e0d0;
    transform: scale(1.02);
}
.arrow {
    font-size: 16px;
    color: #5a7a5c;
    font-weight: bold;
    margin-left: 10px;
}
