
.hidden {
    display: none;
}

body {
    background-color: #f9fbf8;
    width:50%;
}

.category-header {
  
    display: flex;
    justify-content: space-between; /* растянуть между элементами */
    align-items: center;           /* выровнять по вертикали */
    width: 100%;       
    max-width: 250px;
    padding: 12px 8px;
    background-color: #e8f0e6;
    margin: 4px;
    border-radius: 8px;
   cursor: pointer; 
   transition: all 0.3s ease;
}

.category-header:hover {
    background-color: #d0e0d0;
    transform: scale(1.02);
}
.arrow {
    font-size: 16px;
    color: #5a7a5c;
    font-weight: bold;
    margin-left: 10px;
}

.task-count {
    background: #9fc2a7;       /* зелёный фон */
    color: white;              /* белый текст */
    border-radius: 50%;        /* превращает в круг */
    width: 24px;               /* диаметр */
    height: 24px;              /* диаметр */
    display:inline-flex;           /* центрирование */
    align-items: center;       /* вертикаль */
    justify-content:center;  /* горизонталь */
    font-size: 12px;           /* размер текста */
    font-weight: bold;         /* жирный текст */
}

.tasks {
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

li {
    padding: 2px 12px ;
    display: flex;
    justify-content:space-between;
    width: 300px;
}